.vcheck {
    display: inline-block;
    position: relative;
    width: 26px;
    height: 26px;
    border: 1px solid #304050;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

.vcheck.selected {
    background: url(img/vcheck.png) no-repeat center center / 24px 22px;
    border-color: #1a9c27;
}